@model RulesUpdateModel
@{
    var SelectionModel = new PartialSelectionModel()
    {
        FontAwesomeIcons = Model.FontAwesomeIcons ?? new HashSet<string>(),
        SelectedValue = Model.RulesDtoForUpdate.FontAwesomeIcon ?? null
    };
}
<div class="text-center my-5">
    <div class="dispaly-6">Update (@Model.RulesDtoForUpdate.Title_Tr)</div>
</div>
<form method="post" asp-action="Update">
    <div asp-validation-summary="All" class="text-center text-danger"></div>
    <div>
        <input type="hidden" asp-for="RulesDtoForUpdate.Id" />
        <input type="hidden" asp-for="RulesDtoForUpdate.CreatedByUser" />
        <input type="hidden" asp-for="RulesDtoForUpdate.CreatedAt" />
    </div>
    <div class="form-group my-3">
        <label class="form-label" asp-for="RulesDtoForUpdate.Title_Tr"></label>
        <input asp-for="RulesDtoForUpdate.Title_Tr" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label class="form-label" asp-for="RulesDtoForUpdate.Title_En"></label>
        <input asp-for="RulesDtoForUpdate.Title_En" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="@(Model.RulesDtoForUpdate.FontAwesomeIcon)" class="form-label"> FontAwesome Icon</label>
        <input type="hidden" asp-for="@(Model.RulesDtoForUpdate.FontAwesomeIcon)" id="IconString" value="@(SelectionModel.SelectedValue)" />
        <partial name="_SelectIcon" model="@(SelectionModel)" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="RulesDtoForUpdate.LocalIconId">Local Icon</label>
        <select class="form-control" asp-for="RulesDtoForUpdate.LocalIconId" id="localIconSelect" onchange="SelectLocalIcon(this.value)">
            <option value="@null"> Select a Icon</option>
            @foreach (var item in Model?.LocalIcons ?? new List<IconDto>())
            {
                <option value="@item.Id" selected="@(Model?.RulesDtoForUpdate.LocalIconId==item.Id)">@item.FileName</option>
            }
        </select>
    </div>
    <partial name="_DefaultPartialHtmlForUpdateByBackButton" />
</form>
